.env
serviceAccountKey.json

.env
.env.*
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

db.sqlite3
staticfiles/
.DS_Store
.vscode/
.idea/

venv/
.venv/

__pycache__/
*.pyc

db.sqlite3

.vscode/
staticfiles/
*.log
